
<div class="d-flex justify-content-between">

  <div>
    <input-debouncer
      placeholder="Buscar..."
      (onDebouce)="onSearch($event)"
    />
  </div>


  <div class="dropdown mb-1">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
      Columnas
    </button>

    <div class="dropdown-menu p-4">

      <div class="list-group">

        @for (column of table.getAllColumns(); track column.id) {

          <button
            class="list-group-item list-group-item-action text-center" type="button"
            [ngClass]="{
              'list-group-item-info': column.getIsVisible()
            }"
            (click)=" column.toggleVisibility(!column.getIsVisible())"
            [disabled]="table.getVisibleLeafColumns().length === 1 && column.getIsVisible()"
          >
            {{ column.columnDef.header }}
          </button>

        }


      </div>

    </div>
  </div>

</div>

<table class="table table-striped table-hover">

  <thead>

    @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {


      <tr>

        @for (headerItem of headerGroup.headers; track headerItem.id) {

          @if( !headerItem.isPlaceholder ) {

            <th scope="col">

              <ng-container
                *flexRender="
                  headerItem.column.columnDef.header;
                  props: headerItem.getContext();
                  let header
                "
              >
                <button (click)="onSortingColumn(headerItem.column)" class="btn btn-dark d-flex gap-1">
                  <div [innerHTML]="header"></div>
                  <i class="bi bi-chevron-expand"></i>
                </button>
              </ng-container>

            </th>

          }

        }

      </tr>


    }

  </thead>

  <tbody>

    @for (row of table.getRowModel().rows; track row.id) {

        <tr>

          @for (cell of row.getVisibleCells(); track cell.id) {

            <td>
              <ng-container
                *flexRender="
                  cell.column.columnDef.cell;
                  props: cell.getContext();
                  let cell
                "
              >
                <div [innerHTML]="cell"></div>
              </ng-container>

            </td>

          }

        </tr>

    }

  </tbody>

</table>

<div class="d-flex justify-content-between">

  <div>
    <span class="fw-light">Mostrando {{ table.getRowModel().rows.length }} de {{ table.getRowCount() }} registros.</span>
  </div>


  <div class="d-flex gap-2 align-items-center">

    <div class="min-w-8">
      <span class="fw-light">{{ table.getState().pagination.pageIndex + 1 }} de {{ table.getPageCount() }} Páginas</span>
    </div>

    <select class="form-select" (change)="onChangeValueSelect($event)" >

      @for (size of sizesPages(); track size) {

        <option [value]="size"
          [selected]="size === table.getState().pagination.pageSize"
        >{{size}}</option>

      }

    </select>

    <button class="btn btn-info" [disabled]="!table.getCanPreviousPage()" (click)="table.previousPage()">Anterior</button>
    <button class="btn btn-info" [disabled]="!table.getCanNextPage()" (click)="table.nextPage()">Siguiente</button>
  </div>


</div>

